{% extends "../base.html" %}

{% block title %}Cool Geek Jobs - Recent Openings{% endblock %}

{% block content %}
<div class="span-22">
  <p>Confirm Delete?<a href="/_admincoolgeeks/deletejobconfirm/{{jobid}}">Yes</a> | <a href="/_admincoolgeeks">No</a></p> 
  <h3 class="jtitle">{{job.title}}</h3>
  <div class="posting">
	<div class="jtimefound">Found {{job.entry_date|timesince}} ago</div>      
	<div class="jlink"><a href="{{job.link}}" target="_blank">View Original Job Posting</a></div>
	<div class="jdesc">{{job.desc}}</div>
  </div>
</div>
{% endblock %}
