{% extends "base.html" %}

{% block title %}Cool Geek Jobs - Recent Openings{% endblock %}

{% block content %}
<div class="span-16">
  <h3 class="jtitle">{{job.title}}</h3>
  <div class="posting">
	<div class="jtimefound">Found {{job.entry_date|timesince}} ago</div>      
	<div class="jlink"><a href="{{job.link}}" target="_blank">View Original Job Posting</a></div>
	<div class="jdesc">{{job.desc}}</div>
  </div>
</div>
<div class="span-7 last">
  <h3 class="filters">SKILL FILTERS</h3>
  <ul id="filters">
    {% for l in languages %}
	  <li><a href="/morejobs/{{l.name}}/0"><img class="logo" src="/images/{{l.logo}}" alt="{{l.display}}" title="{{l.display}}"></a></li>
	{% endfor %}
  </ul>
</div>
<div class="span-16">
  <div class="posting bottom">
    <div class="jtags">
	  Tags  
	  {% for tagdict in job.tags %}
		{% for tag in tagdict.items %}
	      <a href="/morejobs/{{tag.1}}/0">{{tag.0}}</a>
		{% endfor %}
	  {% endfor %}
	  {% if not job.tags %}
		None
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
