{% extends "base.html" %}

{% block title %}Cool Geek Jobs - Job Statistics{% endblock %}

{% block content %}
<div class="span-16">
  <h2 class="heading_skills">{{skill}} STATISTICS - {{graph_time}}</h2>
  <hr>
  <div id="chart_div"><img src="{{stats}}"/></div>
</div>
<div class="span-7 last">
  <h3 class="filters">SKILL FILTERS</h3>
  <ul id="filters">
    {% for l in languages %}
	  <li><a href="/jobstats/{{l.name}}/{{range}}"><img class="logo" src="/images/{{l.logo}}" alt="{{l.display}}" title="{{l.display}}"></a></li>
	{% endfor %}
  </ul>
</div>
<div class="span-16">
  <div class="posting">
  	<div class="navskills">
  		<ul id="filters">
  			<li><a href="/jobstats/{{skillname}}/30">MONTH</a></li>
			<li><a href="/jobstats/{{skillname}}/90">QUARTER</a></li>
			<li><a href="/jobstats/{{skillname}}/180">HALF-YEAR</a></li>
			<li><a href="/jobstats/{{skillname}}/360">YEAR</a></li>
			{% ifnotequal skill "ALL SKILLS"%}
			  <li><a href="/jobstats/all/30">VIEW ALL SKILLS</a></li>
			{% endifnotequal %}
  		</ul>
	</div>
</div>
{% endblock %}
