{% extends "../base.html" %}

{% block title %}Cool Geek Jobs - Thank You for Signing Up{% endblock %}

{% block content %}
<div class="span-24">
	{% if firstname %}
		<h2 class="heading">THANK YOU {{firstname}}!!!</h2>
	{% else %}
		<h2 class="heading">THANK YOU {{username}}!!!</h2>
	{% endif %}
	<p>Below is your registration information:</p>
	<table>
		<tr><td>USERNAME</td><td>{{username}}</td></tr>
		<tr><td>EMAIL</td><td>{{email}}</td></tr>
		{% if firstname %}
			<tr><td>FIRST NAME</td><td>{{firstname}}</td></tr>
		{% endif %}
		{% if lastname %}
			<tr><td>LAST NAME</td><td>{{lastname}}</td></tr>
		{% endif %}
		<tr><td>NOTIFICATION PLAN</td><td>{{planname}}<br><p>Emails sent {{planfreq}}</p></td></tr>
	</table>
	<p>A confirmation email was sent to {{email}}.  Please click the confirmation link in that email to activate your account.</p>
</div>
  
{% endblock %}
